

<ol class="post-column">
  {{#each posts as |post|}}
  <li>
    <article class="Movie">
      <div class="title">
         <a href="{{Movie.post_url}}" target="_blank">{{post.title}}</a>
  </li>
  {{/each}}
</ol>